# The port for the Quickstart cURL examples is 8002
HTTP_PORT=8002

# Setting to 0.0.0.0 is only necessary to run from inside a docker container
SERVER_HOSTNAME=0.0.0.0

# For production usage the secret is always retrieved with the Approov CLI tool,
# that can be also used to generate valid and invalid tokens for testing purposes.
# Please check the Approov docs at https://approov.io/docs/latest/approov-cli-tool-reference/#token-commands.
#
# Get you secret with `approov secret -get base64``
APPROOV_BASE64_SECRET=approov_base64_secret_here
